h1 {
    color: rgb(16, 70, 105);
    }

.tree {
    color: rgb(16, 70, 105);
}
.image-size {
    height: 145px;
} 
.comparison-image {
    height: 300px;
}

.hover-image:hover {
    border-style: solid;
    border-color: blue;
}
body {font-size: 1em;
    background-color: #ccc;
    margin: 20px;
    padding: 50px;
}