h1 {
    color: rgb(33, 216, 198);
}

.tree {
    color: rgb(33, 216, 198);
}
.image-size {
    height: 145px;
} 
.comparison-image {
    height: 300px;
}

.hover-image:hover {
    border-style: solid;
    border-color: blue;
}